{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "auto",
    "printWidth": 140,
    "arrowParens": "avoid",
    "proseWrap": "always",
    "htmlWhitespaceSensitivity": "strict",
    "bracketSpacing": true,
    "insertPragma": false,
    "requirePragma": false,
    "quoteProps": "as-needed",
    "trailingComma": "none",
    "parser": "babel",
    "jsxSingleQuote": false,
    "vueIndentScriptAndStyle": false
}